*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    background-image: linear-gradient( to right, rgba(140, 48, 211, 0.941),rgb(60, 0, 97));

}
input,button
{
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

main div
{
    color: white;
    text-align: center;
    margin-top:5%;

}
.city,.weather
{
    font-size: 30px;
}
.temp,.hi-low
{
    text-shadow: 2px 2px 8px white;
    font-size:70px;

}
